<div class="container">

  <header>
    <app-en-tete></app-en-tete>
  </header>

  <div class="d-flex flex-fill border">
    <section class="p-4 pt-2 pb-2 border-end" id="personnes-actives">
      <app-personnes-actives></app-personnes-actives>
    </section>

    <div class="d-flex flex-column flex-fill p-4 pt-2 pb-2">
      <section id="messages">
        <app-messages></app-messages>
      </section>

      <section class = "mt-3" id="nouveau-message">
        <app-nouveau-message></app-nouveau-message>
      </section>
    </div>
  </div>

</div>
